*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #0f172a;
}

.Blue   {
    color: rgb(57, 74, 224);
}
.Red {
    color: red;
}
.Yellow {
    color: rgb(243, 243, 55);
}
.Green  {
    color: green;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.header {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4rem;   
}
.header-button {
    font-size: 0.7rem;
    border: none;
    background: transparent;
    font-family: 'Poppins';
    padding: 1rem 1rem;
}
.header-button:hover {
    background: lightgray;
}