*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #0f172a;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
gap : 1rem;
font-family: 'Inter',sans-serif;
} 

body {
    font-size: 1.0rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :2rem;
    padding: 1rem;
}

button {
    cursor: pointer;
}
.google-header {
    font-family:'Orbitron', sans-serif;
    font-size: 3rem;    
}

.Blue   {
    color: rgb(57, 74, 224);
}
.Red {
    color: red;
}
.Yellow {
    color: rgb(243, 243, 55);
}
.Green  {
    color: green;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-family: 'p';

}

.text-link,
footer a {
    color:inherit;
    text-decoration: none;

}
.text-link:hover,
footer a {
    text-decoration: underline;

}

.input-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.5rem;
    border-radius: 1rem;
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;

}

.input-bar div {
    display: flex;
    align-items: center;
    gap: 1rem   ;
}

.input-bar:hover, 
.input-bar:focus-within,
.button-grid button:hover {
    box-shadow: 0 0 1px 4px rgb(238, 238, 238) ;
}


.input-icon button{
    border: none;
    background: transparent;
}

.input-icon:hover button {
    opacity: 0.9rem;
}
.icon-link {
    font-size: 1.0rem;
    width: 20px;
    color: inherit;
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: grid;
    place-items:center; 
}
.icon-link:hover {
    background-color: rgb(207, 207, 207);
}
.img-button {
    border: none;
    background: transparent ;
}

.button-grid {
    display: flex;
    gap: 1rem;
}

.button-grid button {
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: lightgray;
    border-radius: 0.2rem;
}


/* For a actual image, I didnt put one in */
.img-button img {
    width: 40px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}

.lanuange-link {
    color: royalblue;
    text-decoration: none;
}

.lanuange-text  {
    font-size: 0.7rem;
    font-family: 'Poppins';
}

.lanuange-link:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(231, 229, 229);
    font-size: 0.8rem;
}

footer > div {
    padding: 1rem;
}

.first-foot {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.second-foot {
    display: flex;
    align-items: center;
    gap: 1rem  ;
   
}

.nav-container-second .text-link {
    display: none;
}
@media (min-width: 640px) {
    footer {
        font-size: 0.7rem;
    }
    .nav-container-second .text-link {
    display: block;
}

    .first-foot {
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }

}